{% load staticfiles i18n %}
<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Enigma | The online treasure hunt| Invento17 | GEC Palakkad ">
  <meta name="author" content="Biswas, Rakshith">

  <title>Enigma - Online Treasure Hunt</title>

  {% block css %}
  {% endblock %}

  <link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/play.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

</head>

<body>
  <nav class="navbar navbar-default ">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ENIGMA</a>
      </div>

      <div id="navbar" class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
          <li ><a href="http://www.inventogec.in/">Invento 17</a></li>
          <li ><a href="/leaderboard">Leaderboard</a></li>
          {% if request.user.is_authenticated %}
          <li ><a href="/play">PLAY</a></li>
          {% else %}
          <li ><a href="/#login">LOGIN</a></li>
          {% endif %}
          <li ><a href="http://www.facebook.com/Inventogec.in">In doubt? Message us here</a></li>
          <li ><a href="/#about">RULES</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          {% if user.is_authenticated %}

          <li class="dropdown" id="account_dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Welcome, {{user.first_name}} {{user.last_name}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/accounts/logout">Logout</a></li>
            </ul>
          </li>

          {% else %}

          <li id="login"><a href="/#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

          {% endif %}

        </ul>

      </div>
    </div>
  </nav>


  <div class="container well">
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>The hunt has ended. </strong> Winners will be announced soon. See you next year.
    </div>

    {% block content %}

    {% endblock content %}

  </div>

  <div class="container well fblike">
    <p class="fbliketext">
      Like us for more updates:<br>
    </p>
    <div class="fb-like" data-href="https://www.facebook.com/Inventogec.in" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  </div>



  {% block javascript %}
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1277867418974360";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  {% endblock javascript %}


</body>

</html>
