{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="container">
  <h2>Leaderboard</h2>

  <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Level</th>
      <th>College</th>
      <th>Time completed</th>
    </tr>
  </thead>
  <tbody>
    {% for user in user_list %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{user.first_name}}  {{ user.last_name}}</td>
      <td>{{user.level}}</td>
      <td>{{user.college}}</td>
      <td>{{ user.date_last_ans}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}
