.login-button{
  display: block;
}

.intro{
  background: url(../images/team_enigma.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
