.brand-heading{
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}

.col-md-8 > h2:nth-child(3){
  font-weight: normal !important;
}
.login-button{
  display: block;
}


.intro{
  background: url(../images/banner.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display:table;
  width:100%;
  height:auto;
  padding:200px 0;
  text-align:center;
  color:#fff;
}


@media (max-width: 767px) {
.intro{
  background: url(../images/banner.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display:table;
  width:100%;
  height:auto;
  margin-top: -125px;
  text-align:center;
  color:#fff;
}
}
